
/* Por debajo de 700px */

@media screen and (max-width: 700px){
  .contenido{
  font-size:1.8rem;
  }
  .titulo{
  font-size:2.5em;
  }
}

/* Por debajo de 400px */(
@media screen and (max-width: 400px){
  .contenido{
  font-size:1.2rem;
  }
  .titulo{
  font-size:1.5rem;
  }
}